src/main/mule/appu.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc32f134-7590-49c0-b829-24da4909ddec" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="appuFlow" doc:id="732caf3d-faf6-4ba8-b921-ad2c6d53bfb4" >
		<http:listener doc:name="Listener" doc:id="57c43c01-4ad9-4bc3-89b4-904afa96b822" config-ref="HTTP_Listener_config" path="/appu"/>
		<logger level="INFO" doc:name="Logger" doc:id="bd90d5aa-dba2-4e69-879c-9d5bc87322de" message='#["hi hello"]'/>
	</flow>
</mule>
